.heading {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  /*margin-left: 15px;*/
  /*margin-top: 37px;*/
  letter-spacing: 1px;
}

.heading a {
  text-decoration: none !important;
}

.heading .background {
  background-color: #3d0137;
  color: #fff;
  padding: 7px 7px;
}

.heading .border {
  background-color: #fff;
  border: 3px solid #c70083;
  color: #c700a7;
  padding: 4px 7px;
}

@media only screen and (max-width:767px) {
  .heading {
    text-align: center;
    margin-left: -3px;
    margin-top: 15px;
  }
}

